In [72]:
import pandas as pd
import os
import numpy as np

In [92]:
pd.set_option("mode.copy_on_write", True)

pd.options.mode.copy_on_write = True

In [93]:
file_path = 'assets/resultData.xlsx'
identifier = 'E'

In [94]:
df = pd.read_excel(file_path)
df1 = df.drop(range(0, 2))

row = df1.iloc[0, :]

In [95]:
indexOfIdentifier = []
for i in range(len(row.values)):
    if row.values[i] == identifier:
        indexOfIdentifier.append(i)

indexOfIdentifier

[3, 7, 11, 15, 19, 23, 27]

In [96]:
listOfCols = list(df1.columns)
listOfCols 

df1.columns = listOfCols

df1.drop(2, inplace=True)

In [97]:
df1 = df1.loc[:, ~df1.columns.str.contains("Unnamed")]

df1.head()

,Sl No.,Enrollment No.,Student Name,BSA210,BSA211,BSA212,BSA256,BSA257,BSA258,TMUGE201,Grand Total,Credit Secured,CPI,Remarks
3,1.0,TCA2107001,ABHISHEK SHARMA,35,41,27,29,38,37,52,505.0,21.0,71.48,Pass
4,2.0,TCA2107004,ANSAR SAIFI,14,22,7,32,36,40,20,372.0,17.0,--,Re-appear BSA212
5,3.0,TCA2107005,ARCHIT YADAV,28,31,23,32,39,42,47,482.0,21.0,66.86,Pass
6,4.0,TCA2107006,ARPAN CHAUDHARY,39,41,32,41,36,44,43,545.0,21.0,76.38,Pass
7,5.0,TCA2107008,ATISHAY JAIN,35,39,31,43,39,37,39,521.0,21.0,73.29,Pass

In [98]:
df1.dropna(axis=0, how='any', inplace=True)

df1

,Sl No.,Enrollment No.,Student Name,BSA210,BSA211,BSA212,BSA256,BSA257,BSA258,TMUGE201,Grand Total,Credit Secured,CPI,Remarks
3,1.0,TCA2107001,ABHISHEK SHARMA,35,41,27,29,38,37,52,505.0,21.0,71.48,Pass
4,2.0,TCA2107004,ANSAR SAIFI,14,22,7,32,36,40,20,372.0,17.0,--,Re-appear BSA212
5,3.0,TCA2107005,ARCHIT YADAV,28,31,23,32,39,42,47,482.0,21.0,66.86,Pass
6,4.0,TCA2107006,ARPAN CHAUDHARY,39,41,32,41,36,44,43,545.0,21.0,76.38,Pass
7,5.0,TCA2107008,ATISHAY JAIN,35,39,31,43,39,37,39,521.0,21.0,73.29,Pass
8,6.0,TCA2107009,AYUSH KUMAR,30,28,21,31,37,40,23,428.0,21.0,59.05,Pass
9,7.0,TCA2107010,BHUPENDRA SINGH,34,22,24,33,36,39,24,432.0,21.0,59.14,Pass
10,8.0,TCA2107011,DEEPANSHU,39,43,30,42,37,42,45,539.0,21.0,75.86,Pass
11,9.0,TCA2107012,FARHEEN SAEED,40,38,29,41,41,43,47,539.0,21.0,75.29,Pass
12,10.0,TCA2107013,FIROJ ALI,35,36,25,33,37,40,37,484.0,21.0,67.81,Pass
13,11.0,TCA2107015,HARSH KUMAR,50,47,50,45,41,45,50,621.0,21.0,88.62,Pass
15,13.0,TCA2107017,JAHANVI CHAUDHARY,41,33,30,42,41,42,50,548.0,21.0,76.05,Pass
16,14.0,TCA2107018,JUNAID ALI,33,39,32,31,39,41,39,511.0,21.0,72.05,Pass
17,15.0,TCA2107019,JYOTSNA JAIN,47,45,48,30,41,41,51,556.0,21.0,80.33,Pass
18,16.0,TCA2107020,KAMALJEET KAUR,39,39,19,34,42,40,37,503.0,21.0,69.81,Pass
19,17.0,TCA2107021,KARTIK MOHAN,30,31,16,23,37,35,19,390.0,17.0,--,Re-appear BSA212
20,18.0,TCA2107023,MAYANK TOMAR,37,42,27,39,39,45,34,514.0,21.0,72.19,Pass
21,19.0,TCA2107024,MOHD USMAN,37,34,19,35,40,39,28,471.0,21.0,65.38,Pass
22,20.0,TCA2107025,MOHD WASEEM,35,37,22,32,40,39,19,467.0,21.0,65.14,Pass
23,21.0,TCA2107027,NIKHIL PARMAR,46,44,30,39,39,43,34,545.0,21.0,76.95,Pass
24,22.0,TCA2107028,PALLAV YADAV,35,41,25,37,41,42,31,489.0,21.0,68.05,Pass
25,23.0,TCA2107029,PARASNATH,30,36,18,39,41,41,24,464.0,21.0,63.62,Pass
26,24.0,TCA2107030,PRANAV KUMAR RAJPUT,44,44,37,45,43,46,40,571.0,21.0,80.43,Pass
27,25.0,TCA2107031,PRIYANK CHAUHAN,36,40,25,45,40,45,44,542.0,21.0,75.24,Pass
28,26.0,TCA2107032,RACHIT DIWAKAR,31,32,20,35,40,38,47,481.0,21.0,66.38,Pass
29,27.0,TCA2107033,SHACHI SINGHAL,35,41,31,39,38,41,46,541.0,21.0,76.05,Pass
30,28.0,TCA2107034,SHAHZAD MIYAN,26,34,16,37,40,42,30,447.0,21.0,60.81,Pass
31,29.0,TCA2107035,SHAKSHI JAIN,30,32,25,24,40,40,36,444.0,21.0,61.19,Pass
32,30.0,TCA2107036,SHOBHIT SHARMA,35,36,29,36,40,43,36,501.0,21.0,69.48,Pass
33,31.0,TCA2107037,VARUN SINGH,44,46,37,34,39,40,55,566.0,21.0,81.1,Pass
34,32.0,TCA2107038,VIRENDRA KUMAR,41,44,31,39,40,39,38,534.0,21.0,75.43,Pass
35,33.0,TCA2107039,VISHNU YADAV,24,33,27,32,41,43,37,471.0,21.0,64.71,Pass
36,34.0,TCA2107040,MAHIMA JAIN,37,44,20,25,39,41,52,484.0,21.0,67.76,Pass